/* ===== リセット ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  background-color: #f5f1ea;
  line-height: 1.8;
}

img {
  width: 100%;
  display: block;
}

/* ===== 共通 ===== */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}


/* ===== Hero ===== */
.hero {
  background: url("../images/hero.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero .container {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text {
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #7b9e89;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #5f7d6c;
}

/* ===== Concept ===== */
.concept-inner {
  display: flex;
  gap: 40px;
  align-items: center;
}

.concept-text h2 {
  text-align: left;
}

/* ===== Menu ===== */
.menu-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.menu-item {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item h3 {
  margin: 15px 0 10px;
}

/* ===== Gallery ===== */
.gallery-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* galleryの画像の大きさ修正 */
.gallery-list img {
  width: 32%;
  height: auto;
  border-radius: 10px;
}

/* ===== Access ===== */
.access-info {
  text-align: center;
  margin-bottom: 30px;
}

.access-map img {
  border-radius: 10px;
}

/* ===== Footer ===== */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* =========================
   レスポンシブ（768px以下）
========================= */
@media (max-width: 768px) {

  /* Hero */
  .hero h1 {
    font-size: 26px;
  }

  .hero .container {
    padding: 20px;
  }

  /* Concept */
  .concept-inner {
    flex-direction: column;
  }

  .concept-text h2 {
    text-align: center;
  }

  /* Menu */
  .menu-list {
    flex-direction: column;
  }

  /* Gallery */
  .gallery-list {
    flex-direction: column;
  }

  .gallery-list img {
    width: 100%;
  }

}

